
*{
    margin:0;
    padding:0;
    
    }
    body{
        background-color: #EEE;
        font-family: 'Roboto', sans-serif;
    }
   
    .container{
    max-width: 1000px;
    background-color:#bbdfc8;
    margin:auto;
    padding: 20px;

    }


.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
 
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
 
  .topnav a:hover {
    background-color: #04AA6Ddd;
    color: black;
  }
  

  .topnav a.active {
    background-color: #91091e;
    color: white;
  }
  html{
    scroll-behavior: smooth;

}

    p{
        text-align: justify;
        margin:5%;
    }
    h1{
        text-align:center;
        color:#91091e;
    
    }
    .div-clear{
        clear:both;
    }
    .common-hr{
        border: solid black 1px;
        border-bottom: none;
        width: 100%;
        margin: 20px auto;
    }
    .OL{

        margin:5%;
    }
    .UL{

        margin:5%;
    }
    .bottom-container{
        background-color: black;
        text-align: center;
        padding: 10px;
    
    }
    .bottom-container a {
    color: white;
    text-decoration: none;
    margin: 20px;
    }
    .bottom-container p {
        color: white;
        margin-top: 20px;
        text-align: center;
        }